extends layout

block content
	div.well.container(style = "margin-top: 30px")
		h2.header This is a demo of the mechanism of WEP authentication
		div.btn-container
			div.col-md-6.btn-container
				a(href="/setup").btn.btn-primary.btn-dfs Setup
			div.col-md-6.btn-container
				a(href="/auth").btn.btn-primary.btn-dfs Authentication
				